.aui {
  .knowledge-base-portlet {

    font-family: 'Bookman Old Style', serif;
    
    .kbarticle-navigation {
      font-size: 18px;
      font-family: 'Bookman Old Style', serif;
      text-align: justify;
      line-height: 1.4;
    }
    
    .kb-article-container {
      
      padding-right: 70px;
      
      .kb-article-body {

        padding-bottom: 40px;
        padding-top: 30px;
        
        /*---- Common Styles ----*/
        p {
          text-indent: 25px;
          font-size: 16px;
          font-family: 'Bookman Old Style', serif;
          text-align: justify;
          line-height: 1.7;
          &.caption {
            /*--- hide captions for images ---*/
            display: none;
          }
          
          code {
            color: #0e007f;
            font-weight: bold;
            background-color: rgba(255, 255, 0, 0.08);
          }
        }

        ul {

          padding-left: 30px;
          font-size: 16px;
          
          li {
            p {
              text-indent: 0;
            }
          }
        }

        .article-img1+p {
          display: block;
          width:100%;
          img {
            display: block;
            margin: 0 auto;
            border: 3px solid #ccc;
            width: 98%;
          }
        }

        .article-img2+p {
          display: block;
          width:100%;
          img {
            display: block;
            margin: 0 auto;
            border: 3px solid #ccc;
            width: 70%;
          }
        }

        .article-img3+p {
          display: block;
          width:100%;
          img {
            display: block;
            margin: 0 auto;
            border: 3px solid #ccc;
            width: 55%;
          }
        }

        .article-img4+p {
          display: block;
          width:100%;
          img {
            display: block;
            margin: 0 auto;
            border: 3px solid #ccc;
            width: 30%;
          }
        }

        /*--- 00-preface-intro.markdown - Cover image ---*/
        .cover-img+p {
          display: inline;
          img {
            width: 350px;
            border: 5px solid #ccc;
          }
        }

        .article-table+table{
          margin: 20px 0;
          thead {
            tr {
              th {
                border: 1px solid #333;
                padding: 10px;
                background-color: #ddd;
              }
            }
          }
          tbody {
            tr {
              td {
                border: 1px solid #333;
                padding: 5px;
                background-color: #fff;
              }
            }
          }
        }

        /*--- 01-greetings.markdown - Profile image ---*/
        .profile-img+p {
          display: inline;
          float: left;
          margin: 20px 20px 0 0;
          text-indent: 0;
          img {
            display: inline;
            width: 190px;
            border: 3px solid #ccc;
          }
        }
        
        
      }
    }
  }
}